// Header Layout

.header {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;

  &__top {
    @extend .col-xs-12;

    padding-top: 10px;

    @include breakpoint(sm) {
      padding: 10px 0 0;
    };
  }

  .submenu {
    width: 100%;
  }
}
