// Colors for Cetelem HomeBanking Template

$blue-light: #1AA4D9;
$txt-color: #52575E;

// COLORS FOR CETELEM THEME
$green: #A0BE5B;
$green-dark: #15957E;
$orange: #F48931;
$pink: #E7208C;
$yellow: #FBC22D;
$blue: #1AA4D9;
$red: #FF0000;
$white: #FFFFFF;
$grey: #CCCCCC;
$grey-light: #D1D1D1;
$grey-lightness: #d8d8d8;
$grey-dark: #3B3B3B;
$black: #000000;
